.all {
    width: 960px;
    height: 640px;
    margin: 0 auto;
}

header {
    height: 47px;
    margin-bottom: 3px;
}

header h1 {
    width: 101px;
    height: 47px;
    background-color: dodgerblue;
    background: url(../images/logo.jpg) no-repeat;
    float: left;
}

header h1 a {
    font-size: 0;
    line-height: 47px;
    display: block;
}

header ul {
    width: 248px;
    height: 29px;
    border: 1px solid #cceae0;
    border-bottom: none;
    background-color: #eafffa;
    float: right;
    margin-top: 20px;
    position: relative;
}

header ul img {
    position: absolute;
    left: 10px;
    top: -14px;
}

header ul li {
    float: left;
    width: 57px;
    text-align: center;
    line-height: 29px;
}

header ul li a {
    color: #8a9694;
}

nav {
    height: 34px;
    background-color: #ff822b;
    border: 1px solid #ff4204;
}

nav ul li {
    float: left;
    width: 56px;
    text-align: center;
    line-height: 34px;
}

.all nav ul li a {
    color: #fff;
}

.banner {
    height: 118px;
    border: 1px solid #cfe8a6;
    margin: 10px 0;
}

main {
    height: 360px;
    border: 2px solid #d3e6ae;
    margin-bottom: 3px;
    position: relative;
}

main img {
    position: absolute;
    left: -13px;
    top: 15px;
}

.main-left {
    /* position: absolute;
    left: 20px;
    top: 75px; */
    float: left;
}

.bookNo1 {
    position: absolute;
    left: 20px;
    top: 70px;
    z-index: 999;
}

.book-01 {
    position: absolute;
    left: 0px;
    top: 75px;
    z-index: 100;
}


.main-con {
    width: 290px;
    height: 240px;
    float: left;
    position: absolute;
    left: 260px;
    top: 105px;
}

.main-con h3 a {
    font-weight: normal;
    color: #0572cd;
    font-size: 14px;
}

.main-con ul {
    margin-top: 5px;
}

.main-con ul li span {
    font-size: 9px;
    font-weight: bold;
    color: #991127;
}

.main-right {
    width: 290px;
    height: 242px;
    float: right;
    margin: 80px 5px 0 0;
}

.main-right h3 a {
    font-weight: normal;
    color: #0572cd;
    font-size: 14px;

}

.book-02 {
    position: absolute;
    left: 560px;
    top: 80px;
    z-index: 100;
}

.bookNo2 {
    position: absolute;
    left: 560px;
    top: 70px;
    z-index: 999;
}

.main-right ul {
    margin-top: 5px;
}

.main-right ul li span:first-of-type {
    font-size: 9px;
    font-weight: bold;
    color: #991127;
}

.main-right ul li span:last-of-type {
    font-size: 9px;
    color: #60b5a0;
    margin-left: 16px;
}

.book-03 {
    position: absolute;
    left: 560px;
    top: 195px;
    z-index: 100;
}

.main-rig-bot {
    margin-top: 12px;
}

.bookNo3 {
    position: absolute;
    left: 560px;
    top: 185px;
    z-index: 999;
}

footer {
    height: 47px;
    background: url(../images/validate.gif) no-repeat center;
}
footer p {
    font-size: 10px;
    line-height: 47px;
}

footer p:first-of-type {
    float: left;
    margin-left: 170px;
}

footer p:last-of-type {
    float: right;
    margin-right: 140px;
}